.details img{
    height:100%;
    width:100%;
}
.details{
    padding:8rem 0;    
}

.details-box{
    height:40rem;    
    text-align:center;
}
.details-box li{
    font-size:clamp(1vh,3vw,3.5vh);
    font-weight:bold;
}
.details-box button{
    font-size:clamp(1vh,4vw,5vh);
    font-weight:bold;
    margin-top:2rem;
    width:80%;
}

@media screen and (max-width:780px){
    .details{
        padding:5rem 0;    
    }
    .details-box{
        height:30rem;             
        margin-top:0;
    }
}

@media screen and (min-width:375px) and (max-width:475px){
    .details{
        padding:5rem 0;    
    }
    .details-box{
        height:25rem;              
        margin-top:0;
    }
    .details-box li{
        font-size:clamp(1vh,4vw,5vh);
        font-weight:bold;
    }
}

@media screen and (max-width:374px){
    .details{
        padding:5rem 0;    
    }
    .details-box{
        height:25rem;             
        margin-top:0;
    }
    .details-box li{
        font-size:clamp(1vh,5vw,6vh);
        font-weight:bold;
    }
}