*{
  padding:0;
  margin:0;
}
html{
  scroll-behavior:smooth;
}
/* ::-webkit-scrollbar{
  width:0.625rem;
}
::-webkit-scrollbar-track{
  background:var(--white-color);
}
::-webkit-scrollbar-thumb{
  background:var(--primary-color);   
} */